body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
  }
  
  header, nav, section, footer {
    margin: 20px;
  }
  
  header h1, nav ul, footer p {
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recipe img, .recipe-details img, .team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .view-recipe-btn, .read-more-btn, .back-to-recipes-btn, .back-to-home-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ff7043;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .view-recipe-btn:hover, .read-more-btn:hover, .back-to-recipes-btn:hover, .back-to-home-btn:hover {
    background-color: #ff5722;
  }
  
  header {
    background-color: #ff5722;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    background-color: #ff7043;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  
  /* Responsive Design */
  @media screen and (max-width: 600px) {
    nav ul {
      text-align: center;
    }
  
    nav li {
      display: block;
      margin: 10px 0;
    }
  }
  